
<div class="vocab">
    <div class="vocab-text">
        <h2>{{vocab.word}}</h2>
        <p>{{vocab.type}}</p>
        <p>{{vocab.meaning}}</p>
        <p>{{vocab.phrase}}</p>
        <p>{{vocab.examples}}</p>
        <p>{{vocab.synonymous}}</p>
        <p>{{vocab.antonymous}}</p>
        <p>{{vocab.mnemonics}}</p>
        <sub>{{vocab.note}}</sub>
    </div>
    <table class="vocab-button-group">
        <tr>
            <td class="vocab-button bordered-button" ng-click="prevWord()">&lt; Prev</td>
            <td class="vocab-button bordered-button" ng-click="nextWord()">Next &gt;</td>
        </tr>
    </table>
</div>
