:root {
    --bgColor: #1F2E3D;
    --bgColorHeaderFooter: #0F0F0F;
    --bgColorSubHeader: #C89696;
    --bgColorWindow: #EFEFEF;
    --fgColorHeaderFooter: var(--bgColorWindow);
    --textColor: #000000;
    --textColorLink: #4090E0;

    --windowWidth: 25cm;
    --headerHeight: 7vh;
    --subHeaderHeight: 4vh;
    --footerHeight: 3vh;
    --contentHeight: calc(100vh - (var(--headerHeight) + var(--subHeaderHeight) + var(--footerHeight)));
    --moderateSpace: 5px;
    }

body {
    font-family: sans-serif, arial;
    background-color: var(--bgColor);
    color: var(--textColor);
    margin: 0px;
}
h1,h2,h3,h4,p,i,ul,ol,li,table,tr,td {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
a {
    color: var(--textColorLink);
}
ul {
    list-style-type: none;
}

/*....common....*/
.window {
    background-color: var(--bgColorWindow);
    width: var(--windowWidth);
    margin: auto;
}
.horizontally-aligned-listitem {
    width: fit-content;
    height: 100%;
    float: left;
    display: block;
    display: flex;
    align-items: center;
}

/*....header....*/
.header {
    height: var(--headerHeight);
    background-color: var(--bgColorHeaderFooter);
    box-sizing: border-box;
}
.header-title-and-subtitle{
    float: left;
    width: 17%;
    height: 100%;
}
.header-menu{
    float: left;
    width: 83%;
    height: 100%;
}
.header-content{
    height: 100%;
    color: var(--fgColorHeaderFooter);
}
.header-title{
    font-style: italic;
    font-weight: bold;
    font-size: 220%;
    padding-left: var(--moderateSpace);
}
.header-subtitle{
    font-weight: bold;
    font-size: 100%;
    padding-left: var(--moderateSpace);
}

/*....sub-header....*/
.sub-header{
    height: var(--subHeaderHeight);
    background-color: var(--bgColorSubHeader);
    box-sizing: border-box;
}
.sub-header-title{
    width: 67%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: var(--moderateSpace);
    display: flex;
    align-items: center;
    font-size: 130%;
    font-weight: bold;
}

/*....content....*/
.content{
    height: var(--contentHeight);
    box-sizing: border-box;
}

/*....footer....*/
.footer {
    height: var(--footerHeight);
    background-color: var(--bgColorHeaderFooter);
    font-size: 80%;
    color: var(--fgColorHeaderFooter);
    box-sizing: border-box;
}
.footer-text{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer-text-left{
    width: 50%;
    text-align: left;
    padding-left: var(--moderateSpace);
}
.footer-text-right{
    width: 50%;
    text-align: right;
    padding-right: var(--moderateSpace);
}

/*....home....*/
.home{
}

/*....error....*/
.error{
}

