:root {
    --bgColor: #2F4E6D;
    --bgColorHeaderFooter: #1F1F1F;
    --bgColorSubHeader: #C89696;
    --bgColorWindow: #EFEFEF;
    --bgColorOperarion: #AFAFAF;

    --textColor: #000000;
    --textColorLink: #4090E0;
    --textColorHeaderFooter: var(--bgColorWindow);

    --buttonBorder: var(--textColor);
    --buttonColorLight: var(--bgColorWindow);
    --buttonColorDark: #6F6F6F;
    --buttonColorDarker: #3F3F3F;
    --buttonColorDarkest: var(--bgColorHeaderFooter);
    --buttonBorderRadius: 3px;

    --windowWidth: 25cm;

    --headerHeight: 7vh;
    --subHeaderHeight: 4vh;
    --footerHeight: 3vh;
    --contentHeight: calc(100vh - ( var(--headerHeight) + var(--subHeaderHeight) + var(--footerHeight) ));
    
    --calculatorWidth: 6cm;
    --calculatorButtonSize: 1cm;

    --smallSpace: 5px;
    --mediumSpace: 15px;
}

body {
    font-family: sans-serif, arial;
    background-color: var(--bgColor);
    color: var(--textColor);
    margin: 0px;
}
h1,h2,h3,h4,p,i,ul,ol,li,table,tr,td {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
a {
    color: var(--textColorLink);
}
ul {
    list-style-type: none;
}
textarea {
    resize: none;
    margin: 0px;
    padding: var(--smallSpace);
    box-sizing: border-box;
}

/*....common....*/
.horizontally-aligned-listitem {
    width: fit-content;
    height: 100%;
    float: left;
    display: block;
    display: flex;
    align-items: center;
}
.horizontally-aligned-listitem-right {
    width: fit-content;
    height: 100%;
    float: right;
    display: block;
    display: flex;
    align-items: center;
}
.content-title {
    font-size: 150%;
    padding-left: var(--smallSpace);
    padding-top: var(--smallSpace);
    padding-bottom: var(--mediumSpace);
}
.content-text {
    font-size: 100%;
    padding-left: var(--smallSpace);
    padding-top: var(--smallSpace);
}
.content-url-list {
    padding-left: 30px;
}
.span-full {
    width: 100%;
    height: 100%;
}
.unselectable,
.borderless-button,
.bordered-button,
.menu-item,
.calculator {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer and Edge */
    user-select: none; /* Chrome, Edge, Opera and Firefox */

    cursor: auto;
}
.borderless-button {
    cursor: pointer;
    text-align: center;
    color: var(--buttonColorDarkest);
}.borderless-button:hover {
    color: var(--buttonColorDarker);
}.borderless-button:active {
    color: var(--buttonColorDark);
}
.bordered-button {
    cursor: pointer;
    background-color: var(--buttonColorLight);
    padding-left: var(--smallSpace);
    padding-right: var(--smallSpace);
    margin: 1px;
    font-size: 70%;
    border: 1px solid var(--buttonBorder);
    border-radius: var(--buttonBorderRadius);
}.bordered-button:hover {
    background-color: var(--buttonColorDark);
}.bordered-button:active {
    background-color: var(--buttonColorDarker);
}
.drop-down-block {
    position: relative;
}
.drop-box {
    display: none;
    background: var(--bgColorWindow);
    border: 1px solid var(--buttonBorder);
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.45);
    border-radius: var(--buttonBorderRadius);
    position: absolute;
    right: 0;
    top: 100%;
}
.menu-item,
.menu-item-inactive {
    padding-left: var(--smallSpace);
    padding-right: var(--smallSpace);
    font-size: 70%;
    background-color: var(--buttonColorLight);
}
.menu-item {
    cursor: pointer;
}.menu-item:hover {
    background-color: var(--buttonColorDark);
}.menu-item:active {
    background-color: var(--buttonColorDarker);
}

/*....window....*/
.window {
    background-color: var(--bgColorWindow);
    width: var(--windowWidth);
    margin: auto;
}

/*....header....*/
.header {
    height: var(--headerHeight);
    background-color: var(--bgColorHeaderFooter);
    box-sizing: border-box;
}
.header-title-and-subtitle {
    float: left;
    width: 17%;
    height: 100%;
}
.header-menu {
    float: left;
    width: 83%;
    height: 100%;
}
.header-title-subtitle-list {
    height: 100%;
    color: var(--textColorHeaderFooter);
}
.header-title {
    font-style: italic;
    font-weight: bold;
    font-size: 220%;
    padding-left: var(--smallSpace);
}
.header-subtitle {
    font-weight: bold;
    font-size: 100%;
    padding-left: var(--smallSpace);
}

/*....sub-header....*/
.sub-header {
    height: var(--subHeaderHeight);
    background-color: var(--bgColorSubHeader);
    box-sizing: border-box;
}
.sub-header-title {
    width: 67%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: var(--smallSpace);
    display: flex;
    align-items: center;
    font-size: 130%;
    font-weight: bold;
}
.sub-header-timer {
    width: 33%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

/*....content....*/
.content {
    height: var(--contentHeight);
    box-sizing: border-box;
}

/*....footer....*/
.footer {
    height: var(--footerHeight);
    background-color: var(--bgColorHeaderFooter);
    font-size: 80%;
    color: var(--textColorHeaderFooter);
    box-sizing: border-box;
}
.footer-text {
    height: 100%;
    display: flex;
    align-items: center;
}
.footer-text-left {
    width: 50%;
    text-align: left;
    padding-left: var(--smallSpace);
}
.footer-text-right {
    width: 50%;
    text-align: right;
    padding-right: var(--smallSpace);
}

/*....timer....*/
.timer-content {
    height: 100%;
    font-size: 130%;
}
.timer-edit {
    font-size: 100%;
}
.timer-reset {
    font-size: 100%;
}
.timer-play-pause {
    font-size: 100%;
}
.timer-display {
    padding-left: var(--mediumSpace);
    text-align: right;
    font-weight: bold;
}
.timer-hide {
    height: 100%;
    padding-right: var(--smallSpace);
}
.timer-hide-icon {
    font-size: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/*....awa....*/
.awa {
    padding: var(--smallSpace);
    height: 100%;
    box-sizing: border-box;
}
.awa-left-block {
    height: 100%;
    width: 40%;
}
.awa-question-and-description {
    height: 50%;
}
.awa-right-block {
    height: 100%;
    width: 60%;
}
.awa-operation-place {
    height: 4%;
    width: 100%;
    padding-left: var(--smallSpace);
    padding-right: var(--smallSpace);
    box-sizing: border-box;
    background-color: var(--bgColorOperarion);
    font-size: 130%;
}
.awa-menu-button {
    font-size: 100%;
}
.awa-menu-options {
    width: 200px;
}
.awa-writing-place {
    height: 96%;
    width: 100%;
}

/*....calculator....*/
.calculator {
    width: var(--calculatorWidth);
    padding: 1px;
    border: 1px solid var(--bgColor);
    border-radius: var(--buttonBorderRadius);
    box-sizing: border-box;
    font-size: 130%;
    background-color: var(--bgColorOperarion);
}
.calculator-table {
    table-layout: fixed;
}
.calculator-row {
    height: var(--calculatorButtonSize);
}
.calculator-row-small {
    height: calc(var(--calculatorButtonSize) / 2);
}
.calculator-row-verysmall {
    height: calc(var(--calculatorButtonSize) / 8);
}
.calculator-drag {
    cursor: all-scroll;
}
.calculator-disply {
    border-radius: var(--buttonBorderRadius);
    padding: var(--smallSpace);
    background-color: var(--buttonColorLight);
}
.calculator-memory {
    text-align: left;
    width: 15%;
}
.calculator-result {
    text-align: right;
    width: 85%;
}
.calculator-button {
    cursor: pointer;
    text-align: center;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--buttonBorderRadius);
}

.calculator-button-white {
    color: var(--textColor);
    border-color: #D0D0D0;
    background-color: #F0F0F0;
}.calculator-button-white:hover {
    background-color: #E0E0E0;
}.calculator-button-white:active {
    background-color: #D0D0D0;
}
.calculator-button-darkblue {
    color: var(--textColorHeaderFooter);
    border-color: #012345;
    background-color: #234567;
}.calculator-button-darkblue:hover {
    background-color: #123456;
}.calculator-button-darkblue:active {
    background-color: #012345;
}
.calculator-button-blue {
    color: var(--textColorHeaderFooter);
    border-color: #185898;
    background-color: #3A7ABA;
}.calculator-button-blue:hover {
    background-color: #2969A9;
}.calculator-button-blue:active {
    background-color: #185898;
}
.calculator-button-orange {
    color: var(--textColorHeaderFooter);
    border-color: #983808;
    background-color: #BA5A1A;
}.calculator-button-orange:hover {
    background-color: #A94909;
}.calculator-button-orange:active {
    background-color: #983808;
}