<div class="awa">
    <ul class="span-full">
        <li class="awa-left-block horizontally-aligned-listitem">
            <ul class="span-full">
                <li class="awa-question-and-description">
                    <textarea class="span-full unselectable awa-question" readonly></textarea>
                </li>
                <li class="awa-question-and-description">
                    <textarea class="span-full unselectable awa-description" readonly></textarea>
                </li>
            </ul>
        </li>

        <li class="awa-right-block horizontally-aligned-listitem">
            <ul class="span-full">
                <li class="awa-operation-place">
                    <ul class="span-full">
                        <li class="horizontally-aligned-listitem">
                            <div class="bordered-button awa-cut">Cut</div>
                        </li>
                        <li class="horizontally-aligned-listitem">
                            <div class="bordered-button awa-paste">Paste</div>
                        </li>
                        <li class="horizontally-aligned-listitem">
                            <div class="bordered-button awa-undo">Undo</div>
                        </li>
                        <li class="horizontally-aligned-listitem">
                            <div class="bordered-button awa-redo">Redo</div>
                        </li>
                        <li class="horizontally-aligned-listitem-right drop-down-block">
                            <i class="material-icons borderless-button awa-menu">menu</i>
                            <ul class="awa-menu-options drop-box">
                                <li class="menu-item-inactive">Word Count: {{awaEssay.wordCount}}</li>
                                <li class="menu-item awa-change-question" ng-click="changeQuestion()">Change Question</li>
                                <li class="menu-item awa-restriction" ng-click="toggleRestriction()">Restriction: {{awaEssay.restriction}}</li>
                                <li class="menu-item awa-download" ng-click="downloadEssay()">Download Essay</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="awa-writing-place">
                    <textarea class="span-full awa-essay" ng-model="essay" ng-change="updateWordCount()" spellcheck="false" placeholder="Write answer here"></textarea>
                </li>
            </ul>
        </li>
    </ul>
</div>